html {zoom: 125%;}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f4f4;
    min-height: 100%;

}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: solid black 1px;
;

}

.navbar .logo img {
    width: 200px; 
}

.navbar nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    position: relative;
}

.navbar nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.ikone-zgoraj {
    display: flex;
    align-items: center;
    gap: 20px;
}

.ikone-zgoraj .ikona img {
    width: 25px; 
}

.ikone-zgoraj .telSt {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 16px;
    border-radius: 6px;
    padding-right: 5px;
}

.obrazec {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto 0;
}

.obrazec h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.obrazec p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.forma {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
    display: block;
}

input, select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 0px 2px 4px black;
    
}

.telst-input {
    display: flex;
}

.telst-input select {
    width: 25%;
    margin-right: 5px;
}

.telst-input input {
    width: 75%;
}

.datumi {
    display: flex;
    justify-content: space-between;
}

.datumi select {
    width: 30%;
}

.checkbox {
    display: flex;
    align-items: center;
    padding-left: 15px;

}

.checkbox input {
    margin-right: 10px;
    box-shadow: none;
}

.checkbox a {
    font-size: 12px;
    color: #2D88DA;
    text-decoration: none;
    
}

.gumb-submit {
    background-color: darkslategrey;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;;
    font-size: 18px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}


#scrollToTopBtn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    display: none;
    cursor: pointer;
    box-shadow: 0px 5px 15px black;
    text-decoration: none;
} /* prekopirano*/
.obrazec{
    border: solid black 3px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }

::placeholder{
    color: darkslategray;

}

.error {
    color: red;
    font-size: 12px;
    display: none; 
    padding-top: 6px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#toggle-password {

    visibility: visible;
}

#password:not(:placeholder-shown) + #toggle-password {visibility: visible;}








